
<h1>みんなでミステリー</h1>
<h2>殺人事件が起こった。</h2>
<h2>犯人は我々の中にいる。</h2>
<h2>だが、我々には秘密がある。</h2>
<h2>このままではそのうち警察に犯人もろともバレてしまう。</h2>
<h2>「犯人を調べて突き出そう、そうすれば私の秘密は探られない」</h2>
<h2>「先にこいつらの弱みを見つけて、脅してやろう」</h2>

※生成に大体1分~2分かかります。お喋りでもして待っててね。
<%= link_to "生成してみんなで遊ぶ！", rooms_path(@room), data: { "turbo-method": :post } %>

<br>
<%= @stories.each do |story| %>
    <%= link_to story.name, story_path(story.id) %><br>
    <%= story.body %><br>
<% end %>
